<h2>Suspension</h2>
<div class="ex1">
  <form [formGroup]="profileForm"  (ngSubmit)="onSubmit()" noValidate>
    <a>Seleccione un tipo de suspension: </a>
      <mat-select style="width: 20%;" placeholder="Tipo de suspension" formControlName="tipo">
        <mat-option type="input" value="Snack">Snack</mat-option>
        <mat-option value="Wc">WC</mat-option>
        <mat-option value="Reunion">Reunion</mat-option>
      </mat-select>
    <br><br>
    <a>Ingrese una descripcion de la suspension</a>
    <br><br>
    <div>
      <textarea type="input" name="descripcion" formControlName="description"></textarea>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="profileForm.invalid">Iniciar suspension</button>
  </form>
</div>