<h2>Finalizar</h2>
<div class="ex1">
  <form [formGroup]="profileForm"  (ngSubmit)="onSubmit()" noValidate>
    <a>Seleccione el estado de la tarea: </a>
      <mat-select style="width: 20%;" placeholder="Estado de tarea" formControlName="tipo">
        <mat-option type="input" value="Pendiente">Pendiente</mat-option>
        <mat-option value="Cerrada">Cerrada</mat-option>
      </mat-select>
    <br><br>
    <a>Ingrese una descripcion del trabajo realizado</a>
    <br><br>
    <div>
      <textarea type="input" name="descripcion" formControlName="description"></textarea>
    </div>
    <button mat-raised-button color="primary" type="submit" value = "submit" [disabled]="profileForm.invalid">Finalizar tarea</button>
  </form>
</div>