<h2>Crear nuevo proyecto</h2>

<form [formGroup]="myForm" noValidate>
    <div fxLayout="column" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
        <div fxFlex class="ex1">
            <br><br>
            <a>Nombre del proyecto </a>
            <input type="text" name="name"  formControlName="name" placeholder="Ej. Hospital">
        </div>
        <br><br>
        <mat-card>
        <div fxLayout.lt-md="column">
            <div fxFlex fxLayoutGap="20px">
                <h4>Agregar tareas</h4>
                <div formArrayName="tareas" class="ex1">
                    <button mat-icon-button (click)="deteleTarea()"><mat-icon>remove_circle</mat-icon></button>
                    <button mat-icon-button (click)="addTarea()"><mat-icon>add_circle</mat-icon></button>
                    <br>
                    <div fxLayout="row" fxLayout.lt-md="column" *ngFor="let tarea of tareasForms.controls; let i=index" [formGroupName]="i" class="ex1">
                        <div fxFlex>
                            <br>
                            <input type="text1" formControlName="name" placeholder="NOMBRE">
                        </div>
                        <div fxFlex>
                            <br>
                            <app-categorias [tareas]="tarea"></app-categorias>
                        </div>
                        <div fxFlex>
                            <br>
                            <input type="text1" type="number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" formControlName="expectedTime" placeholder="HORAS TIEMPO ESPERADO">
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex fxLayoutGap="20px">
                <h4>Agregar usuarios</h4>
                <div formArrayName="usersId" class="ex1">
                    <button mat-icon-button (click)="deteleUser()"><mat-icon>remove_circle</mat-icon></button>
                    <button mat-icon-button (click)="addUser()"><mat-icon>add_circle</mat-icon></button>
                    <br>
                    <div *ngFor="let usuario of usuariosForms.controls; let i=index" [formGroupName]="i">
                        <br>
                        
                        <mat-select type="input" placeholder="NOMBRE" formControlName="cc">
                            <mat-option *ngFor="let user of listUsers" value={{user.cc}}>{{user.nombre}}</mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
        </div>
        </mat-card>
        <button mat-raised-button color="primary" (click)="enviar()" [disabled]="myForm.invalid">Crear proyecto</button>
        <br><br>
    </div>
</form>