<h2>Crear nuevo proyecto</h2>

<form [formGroup]="myForm" noValidate>
    <div fxLayout="column" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
        <div fxFlex class="ex1">
            <br><br>
            <a>Nombre del proyecto </a>
            <input type="text" name="nombre"  formControlName="nombre" placeholder="Ej. Hospital">
        </div>
        <br><br>
        <div fxLayout.lt-md="column">
            <div fxFlex fxLayoutGap="20px">
                <h4>Agregar tareas</h4>
                <div formArrayName="tareas" class="ex1">
                    <button mat-icon-button (click)="deteleTarea()"><mat-icon>remove_circle</mat-icon></button>
                    <button mat-icon-button (click)="addTarea()"><mat-icon>add_circle</mat-icon></button>
                    <br>
                    <div *ngFor="let tarea of tareasForms.controls; let i=index" [formGroupName]="i">
                        <br>
                        <a>Nombre de la tarea </a>
                        <input type="text" formControlName="nombre" placeholder="Ej. Testeo">
                    </div>
                </div>
            </div>
            <div fxFlex fxLayoutGap="20px">
                <h4>Agregar usuarios</h4>
                <div formArrayName="usuarios" class="ex1">
                    <button mat-icon-button (click)="deteleUser()"><mat-icon>remove_circle</mat-icon></button>
                    <button mat-icon-button (click)="addUser()"><mat-icon>add_circle</mat-icon></button>
                    <br>
                    <div *ngFor="let usuario of usuariosForms.controls; let i=index" [formGroupName]="i">
                        <br>
                        <a>Cedula del usuario </a>
                        <input type="text"  formControlName="cc" placeholder="Ej. 1088...">
                    </div>
                </div>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="enviar()" [disabled]="myForm.invalid">Crear proyecto</button>
        <br><br>
    </div>
</form>