<h2>Detalles del usuario {{nombreUser}}</h2>
<div>
    <h4>Seleccione intervalo de tiempo</h4> 
    <form [formGroup]="myForm" noValidate>
        <input matInput [min]="minDate" [max]="maxDate1" formControlName="fechaInicio" [matDatepicker]="picker1" placeholder={{fechaInicio}}>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <input matInput [min]="minDate2" formControlName="fechaFin" [matDatepicker]="picker2" placeholder={{maxDate2}}>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <button [disabled]="myForm.invalid" (click)="selectTime()" mat-icon-button><mat-icon>check_circle</mat-icon></button>
    </form>
</div>

<div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <br>
        <mat-card>
        <h2>Lista de proyectos</h2>
        <table>
            <tr>
            <th>Nombre</th>
            <th>Tiempo trabajado</th>
            </tr>
            <tr *ngFor="let proyect of listProyect">
            <td>{{proyect.nombre}}</td>
            <td>{{proyect.tT}}</td>
            </tr>
        </table>
        </mat-card>
        <br>
        <mat-card>
        <h2>Lista de tareas realizadas</h2>
        <table>
            <tr>
            <th>Nombre del proyecto</th>
            <th>Nombre de la tarea</th>
            <th>Estado</th>
            <th>Tiempo trabajado</th>
            </tr>
            <tr *ngFor="let tarea of listTareas">
            <td>{{tarea.nP}}</td>
            <td>{{tarea.nT}}</td>
            <td>{{tarea.s}}</td>
            <td>{{tarea.tT}}</td>
            </tr>
        </table>
        </mat-card>
    </div>
    <div fxFlex>
        <br>
        <mat-card>
        <h2>Lista de suspensiones realizadas</h2>
        <table>
            <tr>
            <th>Tipo de suspension</th>
            <th>Tiempo</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            </tr>
            <tr *ngFor="let suspension of listSus">
            <td>{{suspension.nombre}}</td>
            <td>{{suspension.tiempo}}</td>
            <td>{{suspension.fehcaInicio}}</td>
            <td>{{suspension.fechaFin}}</td>
            </tr>
        </table>
        </mat-card>
    </div>
  <br>
</div>
<br>