<div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
  <div fxFlex>
    <mat-card>
        <h2>Lista de proyectos</h2>
        <table>
            <tr>
            <th>Nombre</th>
            <th></th>
            </tr>
            <tr *ngFor="let proyecto of listProyect">
            <td id="nombre">{{proyecto.nombre}}</td>
            <td><button mat-raised-button color="primary">
                <a>Editar proyecto</a>
            </button></td>
            </tr>
        </table>
        <br>
        <button mat-raised-button color="primary" (click)="crearProyecto()">Crear proyecto</button>
    </mat-card>
    <br>
    <mat-card>
    <h2>Lista tipos de suspension</h2>
    <table>
        <tr>
        <th>Nombre</th>
        <th></th>
        </tr>
        <tr *ngFor="let suspension of listSus">
        <td id="nombre">{{suspension.nombre}}</td>
        <td><button mat-raised-button color="warn">
            <a>Eliminar suspension</a>
        </button></td>
        </tr>
    </table>
    <br>
    <button mat-raised-button color="primary" (click)="suspension()">Crear tipo de suspension</button>
    </mat-card>
    <br>
  </div>
  <div fxFlex>
    <mat-card>
    <h2>Lista de usuarios</h2>
    <table>
        <tr>
        <th>Nombre</th>
        <th>Rol</th>
        </tr>
        <tr *ngFor="let user of listUser">
        <td id="nombre">{{user.nombre}}</td>
        <td id="rol">{{user.rol}}</td>
        </tr>
    </table>
    <br>
    <button mat-raised-button color="primary" (click)="usuario()">Crear usuario</button>
    </mat-card>
  </div>
  <br>
</div>
<br>