<div fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
          <h2>Lista de proyectos</h2>
          <table>
              <tr>
              <th>Nombre</th>
              <th>Tiempo total</th>
              <th></th>
              </tr>
              <tr *ngFor="">
                <td></td>
                <td></td>
                <td></td>
              </tr>
          </table>
      
          <h2>Tiempos por usuario</h2>
          <table>
              <tr>
              <th>Nombre</th>
              <th>Tiempo</th>
              <th></th>
              </tr>
              <tr *ngFor="">
              <td></td>
              <td></td>
              <td></td>
              </tr>
          </table>
    </div>
        
    <div fxFlex>
          <h2>Tiempos por categoria</h2>
          <table>
              <tr>
              <th>Nombre</th>
              <th>Tiempo</th>
              </tr>
              <tr *ngFor="">
                <td></td>
                <td></td>
              </tr>
          </table>

          <h2>Tiempos por suspension</h2>
          <table>
              <tr>
              <th>Tipo suspension</th>
              <th>Tiempo</th>
              </tr>
              <tr *ngFor="">
              <td></td>
              <td></td>
              </tr>
          </table>
        
    </div>
</div>