<mat-toolbar color="primary" class="fix-nav">
    <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="nav-brand">
        Gestion de tiempos
    </div>
    <span class="nav-spacer"></span>
    <div><a>{{name}}</a></div>
    <button type="button" mat-icon-button class="hidden-sm" *ngIf="administrador" (click)="admin()" matTooltip="administrador">
            <mat-icon>build</mat-icon>
        </button>
    <button type="button" mat-icon-button class="hidden-sm" *ngIf="administrador" (click)="crear()" matTooltip="Nuevo proyecto">
        <mat-icon>note_add</mat-icon>
    </button>
    <button type="button" mat-icon-button class="hidden-sm" *ngIf="tarea" (click)="finTarea()" matTooltip="Finalizar tarea">
            <mat-icon>work_off</mat-icon>
    </button>
    <button type="button" mat-icon-button class="hidden-sm" *ngIf="iSuspension" (click)="suspension()" matTooltip="Iniciar suspension">
            <mat-icon>play_circle_outline</mat-icon>
    </button>
    <button type="button" mat-icon-button class="hidden-sm" *ngIf="fSuspension" (click)="finSuspension()" matTooltip="Finalizar suspension">
        <mat-icon>pause_circle_outline</mat-icon>
    </button>
    <button type="button" mat-icon-button class="hidden-sm" (click)="dashboard()" matTooltip="Dashboard">
        <mat-icon>dashboard</mat-icon>
    </button>
    <button type="button" mat-icon-button class="hidden-sm" *ngIf="administrador" (click)="configuacion()" matTooltip="configuracion">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="onLoggedout()" matTooltip="Cerrar sesion">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>

<div id="sidebar" class="visible-md">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard/proyectos']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon>Dashboard
        </a>
        <a mat-list-item *ngIf="tarea" (click)="finTarea()">
                <mat-icon class="sidenav-icon">work_off</mat-icon>Finalizar tarea
            </a>
        <a mat-list-item *ngIf="iSuspension" (click)="suspension()">
            <mat-icon class="sidenav-icon">play_circle_outline</mat-icon>Iniciar suspension
        </a>
        <a mat-list-item *ngIf="fSuspension" (click)="finSuspension()">
            <mat-icon class="sidenav-icon">pause_circle_outline</mat-icon>Finalizar suspension
        </a>
        <a *ngIf="administrador" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/crear']">
            <mat-icon class="sidenav-icon">note_add</mat-icon>Nuevo proyecto
        </a>
        <a *ngIf="administrador" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/admin']">
            <mat-icon class="sidenav-icon">build</mat-icon>Panel administrador
        </a>
        <a *ngIf="administrador" mat-list-item [routerLinkActive]="'active'" [routerLink]="['/adminConfig']">
            <mat-icon class="sidenav-icon">settings</mat-icon>Configuracion
        </a>
    </mat-nav-list>
</div>
