<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <app-stat [bgClass]="'danger'" [icon]="'wc'" count="0" [label]="'Promedio WC'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'fasfood'" count="1" [label]="'Promedio Snack'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'group'" count="0" [label]="'Promedio reuniones'"></app-stat>
    </div>
</div>


<h2>Lista de suspensiones</h2>
  
<table>
    <tr>
      <th>Categoria</th>
      <th>Tiempo</th>
    </tr>
    <tr *ngFor="">
      <td></td>
      <td></td>
    </tr>
  </table>

  <h2>Lista de tareas realizadas</h2>
  
  <table>
      <tr>
        <th>Proyecto</th>
        <th>Tarea</th>
        <th>Tiempo</th>
      </tr>
      <tr *ngFor="">
        <td></td>
        <td></td>
      </tr>
    </table>