<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <app-stat [bgClass]="'danger'" [icon]="'wc'" count={{timewc}} [label]="'Total tiempo WC'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'fasfood'" count={{timesnack}} [label]="'Total tiempo Snack'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'group'" count={{timemeeting}} [label]="'Total tiempo reuniones'"></app-stat>
    </div>
</div>


<h2>Lista de suspensiones</h2>
  
<table>
    <tr>
      <th>Categoria</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
    </tr>
    <tr *ngFor="let suspension of listSuspension">
      <td>{{suspension.categoria}}</td>
      <td>{{suspension.fechaInicio}}</td>
      <td>{{suspension.fechaFin}}</td>
    </tr>
  </table>