<h2>Lista de tareas del proyecto {{nombreProyect}}</h2>
  
<table>
    <tr>
      <th>Nombre</th>
      <th>Categoria</th>
      <th>Tiempo trabajado</th>
      <th>Tiempo esperado</th>

    </tr>
    <tr *ngFor="let tarea of listT">
      <td>{{tarea.n}}</td>
      <td>{{tarea.c}}</td>
      <td>{{tarea.jT}}</td>
      <td>{{tarea.exTime}}</td>
      <td><button mat-raised-button color="primary" [disabled]="comprobar(tarea)" (click)="iniciar(tarea)">
            <a>Iniciar tarea</a>
    </button></td>
    </tr>
  </table>
